
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: #1E0A0A;
  background-color: #C9C5BE;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
}

.button {
  padding: 10px 15px;
  /* Justerbar padding för att passa innehållet i knappen */
  border: none;
  /* Tar bort standardramen */
  border-radius: 20px;
  /* Ger knappen rundade hörn */
  background-color: #C9C5BE;
  /* Bakgrundsfärgen du angav */
  color: #1E0A0A;
  /* Textfärgen du angav */
  font-weight: bold;
  /* Gör texten fetare */
  cursor: pointer;
  /* Ändrar muspekaren till en pekande hand */
  transition: all 0.3s ease;
  /* Smidig övergång för hover-effekter */
}

.button:hover {
  background-color: #B2AFA9;
  /* En mörkare nyans när muspekaren är över knappen */
  transform: scale(1.1);
  /* Förstorar knappen lite för att ge feedback till användaren */
}

.button:active {
  transform: scale(0.95);
  /* Ger en intryckeffekt när knappen klickas */
}
